.chat-main
  .rightheader
    .groupInfo
      .groupInfo__Name 
        = @group.name
      .groupInfo__List
      Member : 
      - @group.users.each do |user|
        = user.name
    %p.editButton 
      = link_to "Edit", "edit" 

  .message
    = render @messages    
    
  .footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__Contents
        = f.text_field :content, class: 'inputText', placeholder: 'type a message'
        = f.label :image, class: 'inputImage' do
          = icon('far', 'image', class: 'fa-image')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__Submit'
      
      